<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <script src="{{ url_for('static', filename='js/base_script.js')}}"></script>

    {% block title -%}
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>DG</title>
        {% endif %}
    {% endblock -%}
</head>
<body>
{% block content -%}

{% endblock -%}
</body>
</html>