{% extends 'base.html' %}

{% block content %}
    {{ super() }}
    <div class="wrapper">
        <div class="page">
            <div class="header">
                <h1 class="header_title">Distractor generator</h1>
            </div>
            <div class="content">
                <form class="gd_form" action="/" method="post">
                    <div class="gd_form_item">
                        <label for="question_input">Question: *</label>
                        <textarea id="question_input" name="question" required></textarea>
                    </div>
                    <div class="gd_form_item">
                        <label for="answers_input">All answers:</label>
                        <textarea id="answers_input" name="answers"
                                  placeholder="Enter separated by commas, case is not important"></textarea>
                    </div>
                    <div class="gd_form_item">
                        <label for="gd_slider">Number of distractors:</label>
                        <input id="gd_slider" type="range" name="num_distractors" min="1" max="15" value="3"
                               autocomplete="off" oninput="gd_slider_fun()">
                        <span id="gd_slider_output">3</span>
                    </div>
                    <div class="gd_form_item">
                        <input id="gd_submit" type="submit" value="Get distractors">
                    </div>
                    {% block gd_output -%}
                        {% if distractors %}
                            <div class="gd_form_item">
                                <label for="gd_output">Distractors:</label>
                                <ul id="gd_output">
                                    {% for distractor in distractors %}
                                        <li>{{ distractor }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endblock -%}

                </form>
            </div>
        </div>
        <div class="footer">
            <p>&copy; All rights reserved.</p>
        </div>
    </div>
{% endblock %}
