* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background: #000000;
}

.wrapper {
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    font-family: "Calibri", sans-serif;
    color: white;
}

.page {
    min-height: 100%;
    padding-bottom: 40px;
    box-sizing: border-box;
}

.header {
    height: 70px;
    background: #303130;
    border-bottom: 1px solid white;
}

.header_title {
    font-family: "Monospaced", sans-serif;
    color: white;
    padding-top: 15px;
    padding-left: 40px;
}

.content {
    padding: 40px;
    font-size: 18px;
}

.footer {
    height: 40px;
    margin-top: -40px;
    box-sizing: border-box;
    font-size: 18px;
    background: #303130;
    padding: 10px 40px;
    border-top: 1px solid white;
}

.gd_form_item {
    margin-bottom: 30px;
}

.gd_form_item > textarea{
    margin-top: 10px;
    display: block;
    min-width: 75%;
    max-width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

#question_input {
   height: 150px;
}

#answers_input {
    height: 75px;
}

#gd_slider {
    margin-left: 15px;
    margin-right: 5px;
}

#gd_submit {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    display: block;
    font-size: 18px;
    background: #303130;
    color: white;
}
#gd_submit:hover {
    background: #001755
}

#gd_output {
    margin-top: 20px;
    padding-left: 20px;
}
